*,*::after,*::before {
    box-sizing: border-box;
}


body {
    font-family:'Roboto','Noto Sans', serif;
    overflow-x: hidden;

}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: $secondary-color;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    outline: rgb(49, 12, 80) 1px solid;
  

    @include pad {
        max-width: 992px;
        padding: 0 15px;
        
    }

    @include mobile {
        max-width: 767px;
        padding: 0 15px;
    }
}



.fw-bold {
    font-weight: bold;
    
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

