*,*::after,*::before {
    box-sizing: border-box;
}


body {
    font-family:'Roboto','Noto Sans', serif;

}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: $secondary-color;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;

    @include pad {
        max-width: 992px;
    }

    @include mobile {
        max-width: 767px;
    }
}

.fw-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

